MODE= "DEV"

HTTP_HOST= "0.0.0.0"
HTTP_PORT= "8080"
DATABASE_URL= "jdbc:postgresql://localhost:6000/marlin"
DATABASE_USER= "user"
DATABASE_PASSWORD= "sql"

JWT_SECRET_ACCESS="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
JWT_ISSUER="marlin-backend"
JWT_AUDIENCE="marlin-client"

GOOGLE_CLIENT_ID=""
GOOGLE_IOS_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

MAIL_HOST=""
MAIL_PORT=587
MAIL_USERNAME="marlin@marlin-live.com"
MAIL_PASSWORD=""
MAIL_FROM="marlin@marlin-live.com"

IPINFO_TOKEN=""

FIREBASE_SERVICE_ACCOUNT_KEY_PATH="./google-service.json"
FIREBASE_CLOUD_MESSAGING_PROJECT_ID="marlin-live-notify"

STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_NOTIFICATION_PRICE_ID=""
STRIPE_API_ACCESS_PRICE_ID=""
STRIPE_TRIAL_DAYS=30